* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --top-bg-color: #EDAE62;
  --li-text-color: #858EA0;
  --li-bg-color: #2F2F39;
  --border-color: #35353F;
}

body {
  background-color: black;
  color: white;
  display:flex;
}

.A{
  background-color: black;
  width: 200px;
  margin: 16px 0;
}

.container > .top {
  background-color: var(--top-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.elements > ul {
  background-color: var(--li-bg-color);
  padding: 0;
  color: var(--li-text-color);
}

.bottom {
  padding: 24px;
  background-color: #22222C;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
}
