* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --top-bg-color: #EDAE62;
  --li-text-color: #858EA0;
  --li-bg-color: #2F2F39;
  --border-color: #35353F;
  --font-family: sans-serif;
  --font-size: 14px;
}

body {
  background-color: black;
  color: white;
  display:flex;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.view {
  width: 220px;
  margin: 16px 0;
  padding: 16px;
}


.container > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--top-bg-color);
  border-radius: 10px 10px 0px 0px;
  padding: 15px 8px;
  text-transform: uppercase;
  }

.stations {
  background-color: var(--li-bg-color);
  padding: 8px;
  color: var(--li-text-color);
}

.stations > li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px 0px;
  border-bottom: 1px solid var(--border-color);
}
li:last-child {
  border-bottom: none;
}

.bottom {
  padding: 24px;
  background-color: #22222C;
  border-radius: 0px 0px 16px 16px;
  border-top: 1px solid var(--border-color);
}

.B {
  /* display: none; */
}
.B .bottom {
  padding: 12px;
  text-align: center;
}
#orange-text {
  text-transform: uppercase;
  font-size: .5em;
  color: orange;
}
#station-name {
  color: var(--li-text-color);
}
